{% extends "arkestra.html" %}
{% load typogrify_tags %}

{% block site_styles %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/djangocon.css" />
{% endblock site_styles %}

{% block favicon %}
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon.png">
{% endblock favicon %}

{% block body_content %}
    <p class="accessibility">DjangoCon Europe, 2nd to 7th June 2015, in Cardiff, Wales.
        6 days of talks, tutorials and code.</p>
    {# do you need to have different widths in this template? manage them like this: with placeholder_width=960 generic_main_width=523 sidebar_image_size="294x196" person_image_size="445x384" #}
        {{ block.super }}
    {# endwith #}
{% endblock body_content %}

{% block pagetitle %}{% endblock pagetitle %}

{% block people_search %}{% endblock people_search %}
