{% extends "arkestra.html" %}
{% load typogrify_tags cms_tags %}

{% block body_attributes %}{{ block.super }}{% page_attribute "slug" as home_test %}{% ifequal home_test "home" %}{% if not entity %} class="minimal" {% endif %}{% endifequal %}{% endblock body_attributes %}

{% block site_styles %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/djangocon.css" />
    <style>
        div#urgent {
            width: 900px;
            border: 1px solid #7f0000;
            margin: 0 auto 20px;
            padding: 0 30px;
        }
    </style>
{% endblock site_styles %}

{% block favicon %}
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon.png">
{% endblock favicon %}

{% block body_content %}
    <p class="accessibility">DjangoCon Europe, 2nd to 7th June 2015, in Cardiff, Wales.
        6 days of talks, tutorials and code.</p>
    {# do you need to have different widths in this template? manage them like this: with placeholder_width=960 generic_main_width=523 sidebar_image_size="294x196" person_image_size="445x384" #}
    <div id="urgent">
        <h1>Note revised dates</h1>
        <p class="standout">Thanks to a hugely-popular boy band and their 140'000 fans, we've
            been forced to reschedule our event. We have <em>moved it forward by two days</em>.</p>
        </p>We will open registration again as soon as possible. Here's
        <a href="/news/boy-band-disrupts-djangocon-europe">an explanation of what has happened</a>;
        more news will follow very shortly.
     </p>
         <p>Many apologies and thanks to the entire Django community for its support, kind words,
             and offers of help, from all of us on the organising committee.</p>
    </div>
        {{ block.super }}
    {# endwith #}
{% endblock body_content %}

{% block people_search %}{% endblock people_search %}
